:root {
  --bg-main-color: #00000080;
  --bg-accent-color: #2d2d2d;
  --accent-color: #f64435;
  --text-accent-color: #786c4a;
  --text-edit-bg-color: #57575750;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(
    circle,
    #646464e6 0%,
    #363636e6 100%
  );
  --smokywhite: #dddbd8;
  --black: #000000;
  --translucent-black: #00000099;
}

body {
  background-image: url('../assets/background-210125-235634.webp');
}

.container {
  position: relative;
  width: 900px;
  height: 820px;
  margin: 0 auto 0 auto;
  background-color: var(--bg-main-color);
}

.header {
  height: 15%;
  background: var(--translucent-black);
}
.header h1 {
  margin: 0px;
  text-align: center;
  color: var(--accent-color);
  height: 55px;
  line-height: 55px;
}

.header .dialog-button-group {
  height: 45px;
  text-align: center;
  line-height: 45px;
}

.header .dialog-button-group .dialog-button {
  width: 85px;
  height: 35px;
  color: beige;
  font-weight: bold;
  background-color: var(--accent-color);
}

.header .dialog-button-group .dialog-button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.main {
  padding: 40px 20px;
  height: 75%;
  background-color: var(--text-edit-bg-color);
  overflow: auto;
}

.main p {
  display: inline-block;
  margin: 0;
}

.main .image {
  position: relative;
  display: flex;
  justify-content: flex-start;
  background: var(--component-bg-gradient);
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px var(--shadow-color);
}

.main .image p {
  display: flex;
  color: gold;
}

.main .image-text {
  padding: 10px;
}

.main .video {
  position: relative;
  display: flex;
  justify-content: flex-start;
  background: var(--component-bg-gradient);
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px var(--shadow-color);
}

.main .video p {
  display: flex;
  color: gold;
}

.main .video-text {
  padding: 10px;
}

.main .task {
  position: relative;
  cursor: pointer;
  background: var(--component-bg-gradient);
  margin-bottom: 20px;
  color: gold;
}
.main .task p {
  padding-left: 5px;
  padding-bottom: 5px;
}
.main .note {
  position: relative;
  cursor: pointer;
  background: var(--component-bg-gradient);
  margin-bottom: 20px;
  color: gold;
}

.main .note p {
  padding-left: 5px;
  padding-bottom: 5px;
}

.footer {
  height: 8%;
  background: var(--translucent-black);
  color: beige;
}
.footer h3 {
  margin: 0;
  height: 60px;
  font-weight: lighter;
  line-height: 60px;
  text-align: center;
}

.dialog-background {
  display: none;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.dialog-background .dialog-container {
  position: relative;
  margin: 0 auto 0 auto;
  width: 500px;
  height: 200px;
  background: rgba(40, 40, 40);
  color: burlywood;
}

.dialog-container .close {
  text-align: end;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dialog-container .add {
  margin-top: 10px;
  text-align: end;
}

.dialog-container .title .header {
  background: rgba(40, 40, 40);
}
.dialog-container .source .header {
  background: rgba(40, 40, 40);
}

.dialog-container input,
.dialog-container textarea {
  display: block;
  margin: 0 auto 0 auto;
  width: 97%;
  height: 25px;
  background: rgba(40, 40, 40);
  color: burlywood;
}

.dialog-container textarea {
  resize: none;
  height: 40px;
}

.remove {
  color: var(--accent-color);
}

.remove:hover {
  color: purple;
  cursor: pointer;
}
